<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <label for="team_name">Team Name:</label><input type="text" name="team_name" id="team_name">
     <input type="submit" name="submit" id="submit">
   </form>
 </body>
</html>


